.form-page {
	padding-top: 3em;
  padding-bottom: 3em;
}

.full-sign-up {

  @include media($tablet) {
    @include span-columns(10);
    @include shift(1);
  }

  @include media($desktop) {
    @include span-columns(8);
    @include shift(2);
  }
}

form.sign-up {
  input[type='submit'] {
    padding: 1em 0;
    line-height: normal;
  }

  .dropdown {
    width: 100%;
    height: 3.25em;
    overflow: hidden;
    border: $base-border;
    border-radius: .35em;
    background: $tws-white asset-url('dropdown-arrow.png') no-repeat 97.5% center;
    background-size: 1em auto;
    margin-bottom: 1em;
    select {
      height: 100%;
      line-height: 100%;
      width: 105% !important;
      border: 0 !important;
      border-radius: 0;
      -webkit-appearance: none;
      background: transparent;
      padding: 1em;
    }
  }
}


h2.sign-up-header {
  margin-bottom: $base-font-size;
}

p.sign-up-text {
  margin-bottom: $base-font-size;
}

form.new_user {
  overflow: auto;
  .left {

    @include media($tablet) {
      float: left;
    }
  }
  .right {

    @include media($tablet) {
      float: right;
    }
  }
}

.alternate {
  text-align: center;
  clear: both;
  margin-top: 1em;
}