%h2.main.upcoming.host Your Upcoming Host Times
%ul.upcoming.host
  - if current_user.future_hosts
    - current_user.future_hosts.each do |tea_time|
      %li
        = render partial: 'teatime_info', locals: {tea_time: tea_time, att: nil}
        - if current_user.host?
          .attendees-container
            %h3.attendees Attendees:
            %ul.attendees-list
              - tea_time.attendances.group_by(&:status).each do |k,v|
                %h4 k.capitalize
                - v.map(&:user).each do |a|
                  %li= link_to a.name, "mailto:#{a.email}"
  - else
    %p 
      You're not hosting any upcoming tea times! Let's change that.
      =link_to "Create a new tea time!", new_tea_time_path