%ul.nav-list
  %li
    =link_to "Upcoming Tea Times", profile_path
  / %li
  /   =link_to "Join Another Tea Time", schedule_city_path(current_user.home_city)
  -if current_user.host?
    %li
      =link_to "Post-Tea Time Tasks", host_tasks_path
  %li
    =link_to "Tea Time History", history_path
  %li
    - if current_user.host? || current_user.admin?
      =link_to "Create New Tea Time", new_tea_time_path
  %li
    =link_to "Account Details", edit_user_registration_path
  %li
    =link_to "Sign Out", destroy_user_session_path, method: :delete
