<% if current_user.host? %>
  <div class="teas host">
    <%= render partial: 'hosted_teatimes', locals: {hosted: @hosted} %>
  </div>
<% end %>

<div class="teas attendee">
  <%= render partial: 'attended_teatimes', locals: {attended: @attended} %>
</div>