<%= render partial: 'shared/tea_time_row', locals: {tea_time: tea_time, without_button: display_button?(local_assigns)} %>
<% if att ||= nil %>
  <div class="controls">
    <%= link_to "Cancel my spot", show_attendance_tea_time_path(tea_time, att), class: 'left edit_attendance' %>
    <%= link_to "Email Host", "mailto:#{tea_time.host.email}?subject=Tea%20Time%20Question", :class => "email-host right" %>
  </div>
<% end %>
