language: ruby
rvm:
  - 2.1.0
bundler_args: --without production
before_script:
  - cp config/database.yml.ci config/database.yml
  - psql -c 'create database travis_ci_test;' -U postgres
script: 
  - RAILS_ENV=test bundle exec rake db:migrate --trace
  - bundle exec rake db:test:prepare
  - bundle exec rspec spec/
