<%= render partial: 'shared/header' %>
<%= render partial: 'profiles/navbar' %>
<div class="dash-body">
  <div class="create-tea form">
    <h2>
      Customize Email Reminder
    </h2>
    <%= render 'form' %>
  </div>
</div>
