.row
  .wide
    .half.left
      %p
        %em.starter= "Hey, I'm #{@host.name}!"
        =@host.summary
    .half.right
      %img.host-photo{src: @host.avatar.url(:landscape)}
.row.cta
  .narrow
    %h5.button-cta
      Let's get tea
.row
  .wide
    .third.left
      %h3
        Tea With Strangers
      %p
        Tea time is a two hour conversation fueled by the stories, questions,
        and listening of a few strangers and a super host.
      %h4.signup-cta
        Sign up and come sometime.
      %h5.button-cta
        Let's get tea
    .two-third.right
      .prompt
        %h3
          What's your story?
        %p= @host.story
      .prompt
        %h3
          What might we talk about?
        %p= @host.topics
