<div class="container full-sign-up">
  <h3>Yo!</h3>
  <p>
  We're thrilled to have you for tea. We just need <i>a tiny</i> bit of info
  from you first!
  </p>
  <%= render partial: 'shared/new_sign_up' %>
</div>
