<%= render partial: 'shared/header' %>

<div class="container full-sign-up form-page">
  <h2 class="sign-up-header">Join for tea time</h2>
  <p class="sign-up-text">
    Thousands of strangers across the world have sat together for conversations. We can't wait for you to join them.
  </p>
  <%= render partial: 'shared/new_sign_up' %>
</div>
