.container.user-form.edit.dashboard
  = render partial: 'shared/nav_header'
  - prefill = !!current_user
  .mobilepad.edit-tea-time
    %h2.admin-head
      Edit tea time details
    = render 'form'
    .controls
      %h6.left= link_to 'Cancel tea time', @tea_time, :method => :delete, :data => { :confirm => 'Are you sure?' }