%h1 Listing tea_times

%table
  %tr
    %th
    %th
    %th

  - @tea_times.each do |tea_time|
    %tr
      %td= link_to 'Show', tea_time
      %td= link_to 'Edit', edit_tea_time_path(tea_time)
      %td= link_to 'Destroy', tea_time, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Tea time', new_tea_time_path
