<header>
  <div class='container'>
    <%= link_to image_tag("landing/logo-navbar.png"), root_path, class: 'tws-logo-type' %>
    <span class="menu-expando tws-logo-type" onclick='toggleHeader()'></span>
  </div>
  <!-- TODO flash messages are in this partial because we want them to be below
        the header. But this header partial is currently rendered individually
        in random templates, rather than the layout. -->
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>">
      <%= value %>
    </div>
  <% end %>
</header>