.footer
  .wide
    %p.bigger
      A profile of someone that should come to tea time
    %p
      Maybe you don't drink tea. Maybe you drink coffee. Black. Or with soy milk. It doesn't really matter, because tea time has pretty much nothing to do with tea.
    %p
      You like smiling for no reason. You like going on hikes and pretending you’re in Narnia. You dream a lot when you're sleeping. You dream a lot when you're awake. You give great high-fives and hugs. You've lived in lots of different places. You've lived in the same house your whole life. You’re wondering if you belong somewhere else. You make messes. Sometimes you clean them up. You try to stick to a healthy lifestyle (cookies don’t count though.) You're on a mission to exercise more...starting tomorrow. You made a plan today and that deserves a pat on the back. You’re impulsive. You love to laugh. You often paint mental pictures of what the world would look like if you did ___. You're a child at heart. You’ve traveled to places that inspired you. You haven't left the country yet, but your to-go list is huge, and you're absolutely getting to it when the time is right. You’re a person. It doesn’t matter what your thing is, because whatever you're about, you're interesting. 
    %p
      Maybe you're a vegan. Maybe you hate them. Maybe you're a grandmaster chess player. Maybe you're more of a Monopoly person. Or Taboo. Or Apples to Apples. Maybe you love Beyonce, or maybe you're a bigger Jay-Z fan. Maybe you couldn't care less about either of 'em. Maybe you love your job. Perhaps you hate it and you're feeling the need for some soul searching right now. You hold a Guinness World Record. Maybe you're in love. Maybe you can't stand the thought of love. 
    %p
      Maybe you might not fall into ANY of the above. You're a unique snowflake. And that's why you should come.