.wide
  %p.bigger
    A profile of someone that should come to tea time
  %p
    Maybe you don't drink tea. Maybe you drink coffee. Black. Or with soy milk. It doesn't really matter, because tea time has pretty much nothing to do with tea and everything to do with strangers understanding each other.
  %p
    You like to smile for no reason. You like to hike and pretend you’re in Narnia. You dreams don't stop when you wake up. You give the world's greatest high-fives and backcracking hugs. Your home has changed location more times than you can count. You still live in your childhood house. You’re wondering if you belong somewhere else. You're start some mission to get healthy every other day (juice diets, gluten free, paleo, whatever). Your biggest accomplishment today was writing out your to do list. You often wonder what the world would look like if you did ___. You’re a globetrotter. You haven't left the country yet, but your to-go list is huge.
  %p
    What you're about might change every single day, but the point here is that it doesn't matter. You have a story to tell, and you know there are hundreds you haven't heard yet. So you could listen to 
    %a{href:'http://www.npr.org/programs/'} NPR
    and like every post on 
    %a{href:'http://facebook.com/humansofnewyork'} Humans of New York,
    or you could just come and meet some actual humans and have a conversation yourself. It might turn into a friendship, but even if it doesn't, chances are you'll be glad you came.