.wide
  %p.bigger
    A profile of someone that should come to tea time
  %p
    You look at sites like 
    %a{href:'http://facebook.com/humansofnewyork'} Humans of New York
    or 
    %a{href:'http://upworthy.com'} Upworthy 
    and think they're super cheesy but you like/comment/share 'em anyway. Then you wonder where the hell these people are in the real world. Your social scene is awesome but it's starting to feel stale. You've tried 3 different Meetup groups before you gave up and resorted to hoping for meaningful encounters at local bars. You can't remember the last time you had a 'no strings attached' conversation. You regularly find yourself wanting to get to know the people around you — your friends, strangers, the barista, your waiter, the dude wearing the funky socks or the girl with the bright yellow pants, whoever.
  %p
    The nice thing about Tea With Strangers is that it's self selective. Lames don't show up because two hours is a pretty serious commitment for a group of people you don't know. You're probably curious about what the conversation is like, what other crazies would show up to sit with a group of strangers. You're not sure what to expect, but you have a hunch it'll probably be good. And you have stories to share yourself.
  %p 
    And yes, it's tempting to just opt for Netflix, do nothing, or just hang with your typical crowd. It's easier. You know what to expect. And you don't have to think much. But tea time is kinda like going to the gym. It's good for ya, you know you'll be glad you went, and you're a better person for it. You might go regularly and end up with a six pack, or it might just be a one time thang and you pat yourself on the back for it. Except at tea time, you're working out your empathy/listening/acceptance/compassion muscles. Still trying to figure out what the analogous six pack is here.