<header>
  <div class='container'>
    <%= link_to image_tag("landing/logo-navbar.png"), root_path, class: 'tws-logo-type' %>
    <span class="menu-expando tws-logo-type" onclick='toggleHeader()'></span>
    <nav class='nav-list'>
      <ul class='nav-links'>
        <% [["Cities", cities_path], ["Get Involved", hosting_path]].each do |li| %>
            <li class="nav-link-item"><%= link_to li[0], li[1] %></li>
          <% end %>
          <li class="nav-link-item">
            <%= link_to_if(current_user.nil?, 'Sign In', new_user_session_path, id: 'login', class: 'sign-in-emphasis') do
              link_to('My Account', profile_path)
            end %>
    </ul>
    </nav>
  </div>
</header>
