<h2 class="section-header">
	Learn more about how we work
</h2>
<p>
	If you’re curious to learn more about how Tea With Strangers operates, why we do what we do, how you can be a part of it, or just generally quench your curiosity, take a look here.
</p>
<div class="learn-line">
	<a target="_blank" href="http://facebook.com/teawithstrangers" alt="tea with strangers facebook page">
		<%= image_tag 'share/facebook.png' %>
		<span>Tea With Strangers on Facebook</span>
	</a>
</div>
<div class="learn-line">
	<a target="_blank" href="https://twitter.com/teawstrangers" alt="tea with strangers twitter page">
		<%= image_tag 'share/twitter.png' %>
		<span>Tea With Strangers on Twitter</span>
	</a>
</div>
<div class="learn-line">
	<a target="_blank" href="http://teawithstrangers.com/about" alt="about tea with strangers">
		<%= image_tag 'share/tws.png' %>
		<span>About Tea With Strangers</span>
	</a>
</div>