<footer>
	<div class="footer-container">
		<div class="ethos-rant">
			<p>
				This is a footer rant that generally captures a core belief of Tea With Strangers 
				in a way that makes people smile and really feel like they get what we do, like 
				they really belong around here.
			</p>
			<p>
				This is a footer rant that generally captures a core belief of Tea With Strangers 
				in a way that makes people smile and really feel like they get what we do, like 
				they really belong around here.
			</p>
		</div>
		<div class="admin-links">
			<div class="link-container">
				<a href="https://facebook.com/teawithstrangers" alt="Tea With Strangers Facebook Page">Facebook</a>
				<a href="https://twitter.com/teawstrangers" alt="Tea With Strangers Twitter Page">Twitter</a>
				<%= link_to 'About', about_path %>
			</div>
		</div>
	</div>
</footer>