<footer>
	<div class="container">
		<div class="footer-container">
			<div class="admin-links">
				<div class="link-container">
					<a href="https://facebook.com/teawithstrangers" alt="Tea With Strangers Facebook Page">Facebook</a>
					<a href="https://twitter.com/teawstrangers" alt="Tea With Strangers Twitter Page">Twitter</a>
					<!-- <%= link_to 'About', about_path %> -->
				</div>
			</div>
			<div class="ethos-rant">
				<p>
					Tea With Strangers is all about making our cities feel more like neighborhoods. 
					We're more "connected" than ever before, but we're also more alone. And all we 
					want to do is bring people together because, well, the world is better that way.
				</p>
				<p>
					We're not doing anything groundbreaking. We're creating something that would've 
					been incredibly unnecessary 20 years ago. But while we get busier, it's easy to 
					forget the value of a conversation for no reason. A conversation that's intentionally
					unintentional.
				</p>
			</div>
		</div>
	</div>
</footer>