<div class="tt-partial">
  <% if host ||= nil %>
    <div class="section host-prof-tts">
      <h2 class="section-header">
        <!--TODO: Remove after Forbes/Inc-->
        <%= "Join for tea time with #{@host.name}!" %>
        
      </h2>
    </div>
  <% end %>
  <div class="tt-set-container">
    <% tea_times.each do |tt| %>
      <%= render partial: 'shared/tea_time_row', locals: {tea_time: tt} %>
    <% end %>
  </div>
</div>