<div class="tt-description-wrapper">
  <div class="what-is-tea-time container space">
    <div class="part">
      <h2 class="teatime-basics">Show up for tea time</h2>
      <p class="teatime-basics-subtext">You and a few others join a host at a cafe.</p>
    </div>
    <div class="part">
      <h2 class="teatime-basics">Have a real conversation</h2>
      <p class="teatime-basics-subtext">You talk for two hours about anything.</p>
    </div>
    <div class="part last">
      <h2 class="teatime-basics">See what happens</h2>
      <p class="teatime-basics-subtext">That's it. No strings attached.</p>
    </div>
  </div>
</div>