<div class="section city-intro">
	<% tts = @city.tea_times.future_until(2.weeks.from_now) %>
	<% if tts.count < 1 %>
		<h2 class="section-header">
			There aren't any upcoming Tea Times!
		</h2>
		<p>
			We're working on getting some more up on the board! Sorry for any disappointment, but if you'd like, <a href="mailto:ankit@teawithstrangers.com?Subject=More%20tea%20times%20please!%21" target="_blank">shoot Ankit, the founder of TWS, an email</a> that he'll screenshot and send to the hosts to give 'em some inspiration.
		</p>
	<% else %>
		<h2 class="section-header">
			Tea Time is a conversation between a few people who know nothing about each other.
		</h2>
		<p>
			You'll never leave without questions, new perspectives, and the reminder that we're far more the same than we are different.  
		</p>
	<% end %>
	<%= render partial: 'cities/show/set_city' %>
</div>

<div class="section tt-schedule">
	<% tts = @city.tea_times.future_until(2.weeks.from_now) %>
	<% if tts.count > 0 %>
	  <%= render partial: 'shared/tea_times', locals: {tea_times: tts.pending.order(:start_time => :asc)} %>
	<% end %>
</div>

<div class="section host-grid">
	<%= render partial: 'host_headshots', locals: {hosts: @city.hosts_by_status} %>
</div>
