<h2>Bring Tea With Strangers to <%= city.name %></h2>
<p>
	Tea With Strangers is all about getting rid of strangers and making our cities feel like neighborhoods. This dreamland doesn’t become real with a website, facebook status, or an #instacommunity hashtag. We need people to start making tea time happen!
</p>

<%= render partial: 'cities/show/required_resources' %>
