<h1>Thanks for signing up for TWS!</h1>
<p>
	We're wicked excited to have you. Unfortunately, there are approximately <%=
	number_to_delimited(User.all.count * (rand(100) + 1))%> people who are just as excited about tea time as you are 
	and we're having trouble stopping our website from melting.
</p>
