<div class="city-container">
	<h2>Thanks for signing up for TWS!</h2>
	<p>
		You're amazing for even being here! This is such a weird thing 
		to be interested in, and that you're here must mean you're at 
		least curious. Super awesome. Unfortunately, there are approximately <%=
		number_with_delimiter(User.all.count * (rand(100) + 1))%> people 
		who are also excited about tea time, and we're having trouble 
		stopping our website from melting.
	</p>
	<p>
	  We're very sorry for the inconvenience, and we'll shoot you an email when things
	  have calmed down. If you haven't signed up
	</p>
	<%= render partial: 'cities/show/set_city' %>
</div>