<h1>Thanks for signing up for TWS!</h1>
<p>
	We're wicked excited to have you. Unfortunately, there are approximately <%=
	number_with_delimiter(User.all.count * (rand(100) + 1))%> people who are just as excited about tea time as you are 
	and we're having trouble stopping our website from melting.
</p>
<p>
  We're very sorry for the inconenience, and we'll shoot you an email when things
  have calmed down a bit. In the meantime, here are some photos of puppies!
</p>
<%= render partial: 'cities/show/set_city' %>
