<h2>What we need to get going</h2>
<div class="city-resources">
	<div class="city-resource">
		<div class="block">
			<span class="number">1</span>
			<p class="description">superstar community leader</p>
      <a href="#" data-user-interest='leading'>I'm interested</a>
		</div>
    <%= progress_bar(1, 1) %>
	</div>
	<div class="city-resource">
		<div class="block">
			<span class="number">8</span>
			<p class="description">hosts to bring teatime together</p>
      <%= progress_bar(@city.hosts.count, 8) %>
		</div>
    <a href="#" data-user-interest='hosting'>
      I'm interested
    </a>
	</div>
	<div class="city-resource">
		<div class="block">
			<span class="number">200</span>
			<p class="description">strangers ready to share at tea time</p>
      <%= progress_bar(0, 200) %>
		</div>
    <a href="#">Spread the Word</a>
	</div>
</div>
