<div class="section city-intro">
	<h2 class="section-header">You are a champ!</h2>
	<p>We got your suggestion to start TWS in <%= @city.name %>. You’ll get an email once we’ve made sure everything checks out! </p>
</div>
<div class="section">
	<%= render partial: 'shared/sharing_widget', locals: { full: true } %>
</div>