<div class="light-background">
  <%= render partial: 'shared/header' %>
  <div class="static-banner intro-to-tws cover-photo">
    <div class="content">
      <div class="content-box">
        <h1 class="cover-photo-lede city-title">
          We bring people together
        </h1>
        <span class="cover-photo-subtext">
          About Tea With Strangers
        </span>
      </div>
    </div>
  </div>
  <div class="container static">
    <div class="static-container">
      <h2>It's good to feel at home.</h2>
      <p>
        Tea With Strangers is a community organization that's all about making our cities feel more like neighborhoods by breaking the barriers between strangers.
      </p>
      <p>
        Why? Because neighborhoods create a sense of belonging. Neighborhoods let us be ourselves. Neighborhoods make us feel like someone has our back.
      </p>
      <h3 class="static-subheader">
        What does this have at all to do with sitting with strangers for conversations?
      </h3>
      <p>
        There are two massive hurdles that often stop us from smiling at each other on the street, taking our headphones out on the bus, or just generally treating others with a huge amount of empathy, understanding, and awesome.
      </p>
      <ol>
        <li>
          We have our own lives to lead, and empathizing with others is hard when we're stuck in our own heads.
        </li>
        <li>
          We don't know how others will respond if we actually do something so outlandish as saying, "Hi" or asking "How are you? No <em>really</em>, how are you?"
        </li>
      </ol>
      <p>
        So we have a community of hosts that bring small groups of people together for no-strings-attached conversations. Just to talk about anything and everything. It could be deep. It could be funny. It could be awkward. It could be vulnerable. It's different every time, and you can't really plan for that.
      </p>
      <p>
        And it's in this that we can be more understanding of the "strangers" around us. And if more people can share that experience, we might start seeing the objects between us and the rest of our lives as, well, real people. And that makes the space we share feel a lot more like home.
      </p>
      <p class="last">
        It starts with a conversation.
      </p>
      <h2>Who is behind all of this?</h2>
      <p>
        Hi, my name is Ankit Shah. I started TWS, and if you want to talk, <a href="mailto:ankit@teawithstrangers.com?Subject=Digital%20high%20fives%21&Body=And%20stories%20galore%21" target="_blank">send me an email</a>. If you tell me a story, I'm 10x more likely to reply really fast. Otherwise, forgive me if I take a few days.
      </p>
      <p>
        This website would not exist if it weren't for an <a href="https://github.com/TeaWithStrangers/tws-on-rails/graphs/contributors">incredible team of developers</a> in the TWS community who generously give their genius to making this possible. Get to know them here. If you want to help us, check out our <a href="https://github.com/TeaWithStrangers/tws-on-rails/">public GitHub repo</a> and our <a href="http://making.teawithstrangers.com">Maker's Blog</a>. Then, <a href="mailto:nb@ul.io?CC=ankit@teawithstrangers.com&Subject=Building%20Tea%20With%20Strangers&Body=Hey%20Nick%20and%20Ankit%2C%20I%27d%20love%20to%20help%20on%20the%20site.%20I%20checked%20out%20the%20github%20repo%20at%20https%3A//github.com/TeaWithStrangers/tws-on-rails%2C%20of%20course.%20">email us and let's build a smaller world together</a>.
      </p>

    </div>
  </div>
</div>
<%= render partial: 'shared/new_footer' %>