.container.about
  = render partial: 'shared/nav_header'
  .row
    .wide
      %h2.starter
        Tea With Strangers is all about making it easier to understand each other.
      .two-third.left
        %h3.sectionhead
          Our Story
        %p
          Words words words words words words words words words words words words words words 
          words words words words words words words words words words words words words words words
      / .third.right
      /   %ul.about-list
      /     %li.active Thing 1
      /     %li Thing 2
      /     %li Thing 3
      /     %li Thing 4