<div class="body-edit birthdays">
  <div class="container">
    <div class="landscape-header"></div>
    <div class="content">
      <div class="full-strip">
        <div class="margin-container tws-logo">
          <%= link_to 'Tea With Strangers', root_path %>
        </div>
      </div>
      <div class="full-strip bday-logo">
        <div class="margin-container bday-logo"></div>
      </div>
      <div class="full-strip">
        <div class="margin-container bday-info">
          
          <div class="right"></div>
        </div>
      </div>
      <div class="strip">
        <div class="text">
          <p>
            Birthdays are an arbitrary reason to celebrate the fact that we exist, but it's always about one person! So we’re changing that.
          </p>
          <p>
            On August 30, in SF, we’re going to throw a big outdoor BYO Stranger Birthday Party. We’ll have music, good conversation, and the best strangers SF has to offer. Oh, and we’ll be sending the birthday boys and girls postcards, photos, videos, and songs. It’ll be awesome.
          </p>
        </div>
      </div>
      <div class="strip">
        <div class="details">
        </div>
      </div>
      <div class="strip">
        <hr/>
      </div>
      <div class="strip">
        <div class="half left">
          <header>
            <h2>
              Summer Bday?
            </h2>
            <h3>
              No matter where you are, we’re celebrating your birthday if it's between June and September.
            </h3>
          </header>
          <div class="form-container">
            <form action="https://docs.google.com/forms/d/1xV_JYW1H3IKEVBQMERNX9peXNGW2HPpgeJ5YdVpmWqo/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">
              <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
              <label class="ss-q-item-label" for="entry_651191934"><div class="ss-q-title">Birthday boy/girl's name
              <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
              <span class="ss-required-asterisk">*</span></div>
              <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
              <input type="text" name="entry.651191934" value="" class="ss-q-short" id="entry_651191934" dir="auto" aria-label="Birthday boy/girl's name  " aria-required="true" required="" title="">
              <div class="error-message" id="105350762_errorMessage"></div>
              <div class="required-message">This is a required question</div>
              </div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
              <label class="ss-q-item-label" for="entry_1850147121"><div class="ss-q-title">Email address
              <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
              <span class="ss-required-asterisk">*</span></div>
              <div class="ss-q-help ss-secondary-text" dir="ltr">No spam, obviously</div></label>
              <input type="email" name="entry.1850147121" value="" class="ss-q-short" id="entry_1850147121" dir="auto" aria-label="Email address So we can email you some celebration details so you know what's going on A real email plz!" aria-required="true" required="" title="A real email plz!">
              <div class="error-message" id="179687808_errorMessage">A real email plz!</div>
              <div class="required-message">This is a required question</div>
              </div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item ss-item-required ss-date"><div class="ss-form-entry">
              <label class="ss-q-item-label" for="entry_2055161005"><div class="ss-q-title">Birthday!
              <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
              <span class="ss-required-asterisk">*</span></div>
              <div class="ss-q-help ss-secondary-text" dir="ltr">Anytime June to September!</div></label>
              <div class="ss-q-date"><div class="ss-datetime-box goog-inline-block"> 

              <div class="dropdown">
                <select name="entry.2055161005_month" class="ss-month-dropdown" id="entry.2055161005_month" aria-label="Month" aria-required="true"><option value="">Month</option>
                <option value="1">January</option> <option value="2">February</option> <option value="3">March</option> <option value="4">April</option> <option value="5">May</option> <option value="6">June</option> <option value="7">July</option> <option value="8">August</option> <option value="9">September</option> <option value="10">October</option> <option value="11">November</option> <option value="12">December</option></select>   
              </div>
              <div class="dropdown">
                <select name="entry.2055161005_day" class="ss-day-dropdown" id="entry.2055161005_day" aria-label="Day of month" aria-required="true"><option value="">Day</option>
                <option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> <option value="6">6</option> <option value="7">7</option> <option value="8">8</option> <option value="9">9</option> <option value="10">10</option> <option value="11">11</option> <option value="12">12</option> <option value="13">13</option> <option value="14">14</option> <option value="15">15</option> <option value="16">16</option> <option value="17">17</option> <option value="18">18</option> <option value="19">19</option> <option value="20">20</option> <option value="21">21</option> <option value="22">22</option> <option value="23">23</option> <option value="24">24</option> <option value="25">25</option> <option value="26">26</option> <option value="27">27</option> <option value="28">28</option> <option value="29">29</option> <option value="30">30</option> <option value="31">31</option></select> 
              </div>
              <div class="ss-datetime-box-spacer goog-inline-block"></div></div>
              </div></div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
              <label class="ss-q-item-label" for="entry_417317947"><div class="ss-q-title">Your mailing address
              </div>
              <div class="ss-q-help ss-secondary-text" dir="ltr">For postcards</div></label>
              <input type="text" name="entry.417317947" value="" class="ss-q-short" id="entry_417317947" dir="auto" aria-label="Your mailing address Only if you're down to have us send you postcards. We won't use it for anything else (that'd be weird) " title="">
              <div class="error-message" id="165037433_errorMessage"></div>
              <div class="required-message">This is a required question</div>
              </div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
              <label class="ss-q-item-label" for="entry_1302391497"><div class="ss-q-title">Phone number
              </div>
              <div class="ss-q-help ss-secondary-text" dir="ltr">For birthday calls + voicemails</div></label>
              <input type="text" name="entry.1302391497" value="" class="ss-q-short" id="entry_1302391497" dir="auto" aria-label="Phone number If you're open to us calling you to sing you a song, include em. Cool if not. (ex. 917-555-1234) Format it like this: 917-555-1234" pattern="^[2-9]\d{2}-\d{3}-\d{4}$" title="Format it like this: 917-555-1234">
              <div class="error-message" id="1670415096_errorMessage">Format it like this: 917-555-1234</div>
              <div class="required-message">This is a required question</div>
              </div></div></div>
              <input type="hidden" name="draftResponse" value="[,,&quot;5704384868471978160&quot;]
              ">
              <input type="hidden" name="pageHistory" value="0">


              <input type="hidden" name="fbzx" value="5704384868471978160">

              <div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
              <input type="submit" name="submit" value="Submit" id="ss-submit">
              <h4>Phone, email + mailing info is only to ensure we get your presents to you. Nothing else. Pinky promise.</h4>
              <div class="ss-password-warning ss-secondary-text">Never submit passwords through Google Forms.</div></td>
              </tr></tbody></table></div></ol></form>
          </div>
        </div>
        <div class="half right">
          <header>
            <h2>
              RSVP!
            </h2>
            <h3>
              The event is free, but you gotta bring something! Let us know what your contribution will be!
            </h3>
          </header>
          <div class="form-container">
            <form action="https://docs.google.com/forms/d/1D2TktfeyxNajtJ_WVfcNYyYhK5_GQK4is8sXh4P_oxk/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">
              <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
              <label class="ss-q-item-label" for="entry_2100091956"><div class="ss-q-title">What's your name?
              <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
              <span class="ss-required-asterisk">*</span></div>
              <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
              <input type="text" name="entry.2100091956" value="" class="ss-q-short" id="entry_2100091956" dir="auto" aria-label="What's your name?  " aria-required="true" required="" title="">
              <div class="error-message" id="719077077_errorMessage"></div>
              <div class="required-message">This is a required question</div>
              </div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
              <label class="ss-q-item-label" for="entry_429289442"><div class="ss-q-title">Email address
              <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
              <span class="ss-required-asterisk">*</span></div>
              <div class="ss-q-help ss-secondary-text" dir="ltr">For celebration details</div></label>
              <input type="email" name="entry.429289442" value="" class="ss-q-short" id="entry_429289442" dir="auto" aria-label="Email address Just to keep in touch. Not using this for anything besides the event.  Must be a valid email address" aria-required="true" required="" title="Must be a valid email address">
              <div class="error-message" id="1864967878_errorMessage">Must be a valid email address</div>
              <div class="required-message">This is a required question</div>
              </div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
              <label class="ss-q-item-label" for="entry_443694609"><div class="ss-q-title">Your phone number
              </div>
              <div class="ss-q-help ss-secondary-text" dir="ltr">To text day-of logistics</div></label>
              <input type="text" name="entry.443694609" value="" class="ss-q-short" id="entry_443694609" dir="auto" aria-label="Your phone number In case we need to text you day of the event to confirm anything logistics-related about what you're bringing :). Write it like this 415-555-1234 Formatted like this: 415-555-4567" pattern=".*^[2-9]\d{2}-\d{3}-\d{4}$.*" title="Formatted like this: 415-555-4567">
              <div class="error-message" id="1549446918_errorMessage">Formatted like this: 415-555-4567</div>
              <div class="required-message">This is a required question</div>
              </div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
              <label class="ss-q-item-label" for="entry_2064631938"><div class="ss-q-title">How hyped are you?
              </div>
              <div class="ss-q-help ss-secondary-text" dir="ltr">Because why not</div></label>
              <input type="text" name="entry.2064631938" value="" class="ss-q-short" id="entry_2064631938" dir="auto" aria-label="How hyped are you? Because why not get excited " title="">
              <div class="error-message" id="2037222272_errorMessage"></div>
              <div class="required-message">This is a required question</div>
              </div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item ss-item-required ss-checkbox"><div class="ss-form-entry">
              <label class="ss-q-item-label" for="entry_1807410123"><div class="ss-q-title">What are you bringing?
              <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
              <span class="ss-required-asterisk">*</span></div>
              <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

              <ul class="ss-choices ss-choices-required" role="group" aria-label="What are you bringing?  Must select at least 1 options."><li class="ss-choice-item subheader"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="SUPPLIES" id="group_261251192_1" role="checkbox" class="ss-q-checkbox subheader" aria-required="true"></span>
              <span class="ss-choice-label">SUPPLIES</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="disposable plates" id="group_261251192_2" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">disposable plates</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="disposable cups" id="group_261251192_3" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">disposable cups</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="napkins" id="group_261251192_4" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">napkins</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="disposable utensils" id="group_261251192_5" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">disposable utensils</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="trash bags" id="group_261251192_6" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">trash bags</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="ice chest" id="group_261251192_7" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">ice chest</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="ice" id="group_261251192_8" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">ice</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="jambox/speakers" id="group_261251192_9" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">jambox/speakers</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="blankets" id="group_261251192_10" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">blankets</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="football" id="group_261251192_11" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">football</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="soccer ball" id="group_261251192_12" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">soccer ball</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="hula hoops" id="group_261251192_13" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">hula hoops</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="bubbles" id="group_261251192_14" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">bubbles</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="guitar" id="group_261251192_15" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">guitar</span>
              </label></li> <li class="ss-choice-item subheader"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="FOOD" id="group_261251192_16" role="checkbox" class="ss-q-checkbox subheader" aria-required="true"></span>
              <span class="ss-choice-label">FOOD</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="watermelon" id="group_261251192_17" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">watermelon</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="fruit" id="group_261251192_18" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">fruit</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="potato chips" id="group_261251192_19" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">potato chips</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="pita chips" id="group_261251192_20" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">pita chips</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="tortilla chips" id="group_261251192_21" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">tortilla chips</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="hummus" id="group_261251192_22" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">hummus</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="salsa" id="group_261251192_23" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">salsa</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="other dip" id="group_261251192_24" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">other dip</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="brownies" id="group_261251192_25" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">brownies</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="cupcakes" id="group_261251192_26" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">cupcakes</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="cookies" id="group_261251192_27" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">cookies</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="salads" id="group_261251192_28" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">salads</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="bread (loaf)" id="group_261251192_29" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">bread (loaf)</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="cheese" id="group_261251192_30" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">cheese</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="peanut butter" id="group_261251192_31" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">peanut butter</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="jelly" id="group_261251192_32" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">jelly</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="tasty snacks" id="group_261251192_33" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">tasty snacks</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="carrot sticks / other veggies" id="group_261251192_34" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">carrot sticks / other veggies</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="cake" id="group_261251192_35" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">cake</span>
              </label></li> <li class="ss-choice-item subheader"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="DRINKS" id="group_261251192_36" role="checkbox" class="ss-q-checkbox subheader" aria-required="true"></span>
              <span class="ss-choice-label">DRINKS</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="soda" id="group_261251192_37" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">soda</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="water" id="group_261251192_38" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">water</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="beer" id="group_261251192_39" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">beer</span>
              </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="wine" id="group_261251192_40" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
              <span class="ss-choice-label">wine</span>
              </label></li> <li class="ss-choice-item subheader other"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.261251192" value="__other_option__" id="group_261251192_41" role="checkbox" class="ss-q-checkbox ss-q-other-toggle" aria-required="true"></span>
              <span class="ss-choice-label">Other</span></label>
              <span class="ss-q-other-container goog-inline-block"><input type="text" name="entry.261251192.other_option_response" value="" class="ss-q-other" id="entry_261251192_other_option_response" dir="auto" aria-label="Other"></span>
              </li></ul>
              <div class="error-message" id="1807410123_errorMessage">Must select at least 1 options.</div>
              <div class="required-message">This is a required question</div></div></div></div>
              <input type="hidden" name="draftResponse" value="[,,&quot;9137373995659999515&quot;]
              ">
              <input type="hidden" name="pageHistory" value="0">


              <input type="hidden" name="fbzx" value="9137373995659999515">

              <div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
              <input type="submit" name="submit" value="Submit" id="ss-submit">
              <div class="ss-password-warning ss-secondary-text">Never submit passwords through Google Forms.</div></td>
              </tr></tbody></table></div></ol></form>
          </div>
        </div>
        <div class="half left clear-left no-bg">
          <div class="burday-burday">
            <img src="http://i.imgur.com/Sr3TgSy.gif" />
          </div>
        </div>
      </div>
      <div class="strip last empty"></div>
    </div>
    <div class="footer">
      <div class="strip">
        <p>
          <%= link_to 'Tea With Strangers', root_path %> makes bringing people together meaningfully easier. We're mostly known for tea time — a conversation between a few strangers and a super host. You should sign up and join <%= link_to 'here', root_path %>.
        </p>
        <p>
          Birthdays With Strangers is a fun experiment to bring the community together in celebration of each other. There great conversations and fun to be had. 
        </p>
      </div>
    </div>
  </div>
</div>