.landscape-header
  .blur-layer
  .landscape-text
    %h1 
      Let's get tea.
.container
  = render partial: 'shared/nav_header'
  .row
    .narrow
      %h3.divider Hosting Tea Time
      %p 
        Each tea time is hosted by someone awesome (trust us, not just anyone
        gets to host tea time  ;-)). If no times below suit you, we’ll release
        more soon and fire you an email then. 