.landscape-header
  .blur-layer
  .landscape-text
    %h1 
      Travel in your own home.
.container
  = render partial: 'shared/nav_header'
  .row
    .narrow
      %h3.divider Hosting tea time
      %p 
        If you walk around your city or campus and make up stories about the people that walk around you, you'd probably make a great host.
      %p
        Tea time hosts bring together conversations by asking questions, smiling a whole bunch, and being really good huggers. To make sure tea time is reliable and the conversation is always awesome (and getting better every time), it's usually best when a host can bring tea time together once every week or two.
      %p
        If you're in, 
        %a{href:'mailto:ankit@teawithstrangers.com?Subject=Hosting%20tea%20time!'} click here to email me (Ankit) and let's talk. 
        It'd be awesome if you included the following information (feel free to get long winded; stories and details are helpful):
      %ul.text
        %li
          What city you'd host tea time in
        %li
          Why you'd like to host
        %li
          What would make you an awesome host
        %li
          Why you care about the things you care for
        %li
          What your dreams for the world are
        %li
          The last time you did something for someone else with no expectation for return
      %p I'll fire back an email within a day or two!