.landscape-header
  .blur-layer
  .landscape-text
    %h1 
      Travel in your own home.
.container
  = render partial: 'shared/nav_header'
  .row
    .narrow
      %h3.divider Hosting tea time
      %p 
        If you walk around your city or campus and make up stories about the people that walk around you, you'd probably make a great host.
      %p
        Tea time hosts bring together conversations by asking questions, smiling a whole bunch, and being really good huggers. To make sure tea time is reliable and the conversation is always awesome (and getting better every time), it's usually best when a host can bring tea time together once a week.
      %p
        If you're in, 
        %a{href:'mailto:ankit@teawithstrangers.com?Subject=Hosting%20tea%20time!'} click here to email me (Ankit) and let's talk. 
        It'd be awesome if you included the following information:
      %ul.text
        %li
          Where you'd host tea time
        %li
          Why you'd like to host
        %li
          Your favorite food and why
        %li
          One question you'd ask a stranger if you had their permission and time for 10 minutes
      %p We'll email you back within a day or two!