<%= render partial: 'shared/header' %>
<div class='intro-to-tws cover-photo'>
  <div class='content'>
    <div class='content-box'>
      <h3 class='cover-photo-lede'>
        Making the world feel smaller,
        6 cups of tea at a time.
      </h3>
      <p class='cover-photo-body'>
        Tea time is a conversation fueled by the stories, questions, and listenings
        of a few strangers and a super host.
      </p>
      <button class='green cover-photo-cta'>
        <%= link_to 'Let\'s Get Tea', '#' %>
      </button>
    </div>
  </div>
</div>
<%= render partial: 'shared/press_list', locals: {items: @press}%>
<div class="what-is-tea-time cover-photo">
  <div class='content'>
    <div class='content-box'>
      <h3 class='cover-photo-lede'>
        Making the world feel smaller,
        6 cups of tea at a time.
      </h3>
      <p class='cover-photo-body'>
        Tea time is a conversation fueled by the stories, questions, and listenings
        of a few strangers and a super host.
      </p>
      <button class='green cover-photo-cta'>
        <%= link_to 'Let\'s Get Tea', '#' %>
      </button>
    </div>
  </div>
</div>
