.landscape-header.city.internproject
  .blur-layer
  .landscape-text
    %h1.heycity
      Hey Bay Area Interns!
      %br
      Let's get tea.
.container.internproject
  = render partial: 'shared/nav_header'
  .row
    .wide
      %p
        %em.starter 
          Thousands of us are here for a summer. Between hackathons and picnics, let's sit for a conversation.
      %p
        %em.subheader
          We follow each other on twitter. We like each other's projects on
          %a{href:"https://www.facebook.com/groups/1378139645766413/"} the facebook group.
          Maybe we even hack together or see each other at work. But let's take a second to share stories and understand each other.
  .row
    .wide
      %h3.sectionhead Before we make this happen
    .narrow
      .alert-box
        %h1 We need some hosts
        .body
          %p
            Hosts pull tea time together and make sure the conversations run a little bit deeper than the weather. They ask good questions. They have massive hearts, reflect plentifully (even if their reflections don't turn into blog posts), smile a lot, and they know how to make an environment warm. 
          %p 
            If that sounds like you or someone you know, nominate yourself or your pal and let's get this moving.
          .host-material
            = link_to "Think You're Hosting Material?", "https://docs.google.com/forms/d/1GNJ0jQFFbwC_UsgPKwEfLjkSSZHsLPH-1O0JB4x7tAM/viewform?usp=send_form"
  .row
    .wide
      %h3.sectionhead Sign up to join for tea time
    .narrow
      %p
        Right now, we're prioritizing developing a group of hosts to make sure tea time is consistently dope. If you're down to join once we're a go (early July), sign up here.
      = render partial: 'shared/signup', locals: {dropdown: true}
=content_for(:footer) { render partial: 'shared/footer' }