.landscape-header.city.internproject
  .blur-layer
  .landscape-text
    %h1.heycity
      Hey Bay Area Interns!
      %br
      Let's get tea.
.container.internproject
  = render partial: 'shared/nav_header'
  .row
    .wide.action
      %p
        %em.starter 
          Thousands of us are here for a summer. Between hackathons and picnics, let's sit for a conversation.
      .wraparound
        .narrow
          %p
            %strong The Intern Project and Tea With Strangers are working to make tea time happen for interns in the Bay Area this summer.
          %p
            We follow each other on twitter. We like each other's projects on
            %a{href:"https://www.facebook.com/groups/1378139645766413/"} the facebook group.
            Maybe we even hack together or see each other at work. But let's take a second to share stories and understand each other at tea time.
        .do-it
          %h3 So here's what we gotta do:
          %ul.two-things
            %li
              %h4
                Join for tea time
              %p
                Tea time is a conversation fueled by the stories, questions, and listening of a few strangers and a super host.
              = render partial: 'shared/signup', locals: {city: City.for_code('internproject'), dropdown: false}
            %li
              %h4
                Nominate yourself or a friend to be a host
              %p
                A good host is cool with asking questions, is pretty generous, and can make decisions on the fly. They have massive hearts and reflect plentifully (even if their reflections don't turn into blog posts).
              .host-material
                = button_to "Nominate a Host*", "https://docs.google.com/forms/d/1GNJ0jQFFbwC_UsgPKwEfLjkSSZHsLPH-1O0JB4x7tAM/viewform", :method => :get
              %p.small
                *All potential hosts should go to at least one tea time. Feel free to apply before that tea time happens, but this will need to happen before you start hosting.
        .narrow
          %p
            Until July 4th or so, tea times will be available to interns the same way it is to everyone else in SF (i.e. interns and non-interns alike at tea time.) In that time, we'll be getting some interns ready to become hosts themselves, and from early July, we'll be having regular intern-only tea times for the rest of the summer.
        .do-it.about
          %hr
          %h3 Tea With Strangers?
          %ul.three-things
            %li.third
              %h4 Origin
              %p
                I started Tea With Strangers as a project six weeks before graduating from UPenn
                %a{href:"http://tea.byankit.com/penn"} with this website. 
                Over 200 people took me up on the offer. Every day til graduation, I hosted 3+ hour groups of 6 to sit for a conversation that became tea time. Then I brought it to the Bay Area to see if it would catch on here.
            %li.third
              %h4 Present
              %p
                Sitting with close to 1000 people in the last year made it apparent that good conversations mattered, but it was hard to guarantee goodness. But I realized that a host could create the space to make that a non-issue.
            %li.third
              %h4 Contact
              %p
                %a{href:"https://twitter.com/alexeymk"} Alexey,
                %a{href:"https://twitter.com/theAlexPoon"} Alex,
                %a{href:"https://twitter.com/nickbarnwell"} Nick,
                and 
                %a{href:"https://twitter.com/ankitshah"} Ankit (me) 
                are making this happen.
              %p
                %a{href:"http://facebook.com/teawithstrangers"} Tea With Strangers on facebook
=content_for(:footer) { render partial: 'shared/footer' }
