<div class="light-background">
  <%= render partial: 'shared/header' %>
  <div class="container static">
    <div class="static-container top-margin">
      Privacy Policy
    </div>
  </div>
</div>
<%= render partial: 'shared/new_footer' %>

