/*

Stylesheet for all things related to presentation of
dashboard related styles (/profile, /users/edit,
tea_times/new)

*/

.dash-menu-container {
  background: lighten($tws-yellow, 22);
  overflow: auto;
  margin-bottom: 1em;
  
  .dash-menu {
    @include outer-container;
    padding: 0 20px;
  }
}

ul.dash-menu-list {
  text-align: center;
  overflow: auto;
  padding: 0;
  margin-top: 0;

  @include media($tablet) {
    margin-top: 1em;
  }

  &.standout {
    margin-bottom: 0;
    margin-top: 1em;

    @include media($tablet) {
      float: right;
      padding: 0;
      margin: 0;
    }
  }

  li.nav-link-item {
    float: left;
    clear: both;
    padding: 0 2em 0 0;
    text-align: left;
    letter-spacing: 0;

    a {
      color: $base-font-color;
    }

    &.new-tea {
      padding: 0;

      a {
        @include inverted-button($tws-orange);

        display: inline-block;
        cursor: pointer;
        font-size: 1em;
        padding: 0.5em 1em;
        border-radius: 3px;
        letter-spacing: 0;
        
        &:hover {
          background-color: $tws-orange;
          color: $tws-white;
        }
      }
    }
  }

  @include media($tablet) {

    li.nav-link-item {
      float: left;
      clear: none;

      &.new-tea {
        margin: 0;
        padding: 0;
        float: right;
      }
    }
  }

  @include media($desktop) {
    &.host:before, &.attendee:before {
      top: 5px;
    }

    li.nav-link-item {
      padding-right: 1em;
    }
  }
}

.container.dashboard {

  .dash-intro {
    overflow: auto;
    margin-bottom: 1em;

    @include media($tablet) {
      @include span-columns(3 of 12);

    }

    .photo-container {
      margin-bottom: 0.5em;

      @include span-columns(4 of 12);

      @include media($tablet) {
        @include span-columns(12 of 12);
        
      }

      .host-photo {
        padding: 5px;
        line-height: 0;
        border-color: $tws-yellow;

        @include media($tablet) {

          padding: 0.5em;
        }
      }
    }

    .hello {
      @include span-columns(8 of 12);

      h3 {
        font-weight: 400;
      }

      h2 {
        @extend h3;

        font-weight: 600;
        color: $tws-orange;
        margin-bottom: 0.25em;
      }

      @include media($tablet) {
        
        @include span-columns(12 of 12);

      }

      @include media($desktop) {
        
        h2 {
          font-size: 1.5em;
        }

        h3 {
          font-weight: 600;
        }
      }
    }
  }

  .dash-body {
    margin-bottom: 3em;

    @include media($tablet) {

      @include span-columns(9 of 12);
    }

    h2 {
      margin-bottom: 1em;
    }

  }
}