/*

Stylesheet for all things related to presentation of
dashboard related styles (/profile, /users/edit,
tea_times/new)

*/

.dash-menu-container {
  background: lighten($tws-yellow, 22);
  overflow: auto;
  margin-bottom: 1em;
  
  .dash-menu {
    @include outer-container;
    padding: 10px 20px;
  }
}

ul.dash-menu-list {
  text-align: center;
  overflow: auto;
  padding: 0;
  margin: 0;

  &.standout {
    margin: 0;

    @include media($tablet) {
      float: right;
      padding: 0;
      margin: 0;
    }
  }

  li.nav-link-item {
    float: left;
    clear: both;
    padding: 0 2em 0 0;
    text-align: left;
    letter-spacing: 0;

    a {
      color: $base-font-color;
    }

    &.new-tea {
      padding: 0;

      a {
        @include inverted-button($tws-orange,$tws-orange);

        display: inline-block;
        cursor: pointer;
        font-size: 1em;
        padding: 0.5em 1em;
        border-radius: 3px;
        letter-spacing: 0;
        
        &:hover {
          background-color: $tws-orange;
          color: $tws-white;
        }
      }
    }
  }

  @include media($tablet) {

    li.nav-link-item {
      float: left;
      clear: none;

      &.new-tea {
        margin: 0;
        padding: 0;
        float: right;
      }
    }
  }

  @include media($desktop) {
    &.host:before, &.attendee:before {
      top: 5px;
    }

    li.nav-link-item {
      padding-right: 1em;
    }
  }
}

.container.dashboard {

  h3 {
    margin-bottom: 0.75em;
  }

  .dash-intro {
    overflow: auto;
    margin-bottom: 1em;

    @include media($tablet) {
      @include span-columns(3 of 12);

    }

    a.button {
      @extend %button;

      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.8em;
      text-align: center;
      width: 100%;
    }

    .sidebar-section {
      margin-bottom: 1em;
      overflow: auto;

      @include span-columns(3 of 3);

      &.edit-attendee-list, &.canceled-attendee-list {
        .attendees-list, p {
          margin: 0;
          font-size: 0.8em;
        }

        ul.attendees-list {
          overflow: auto;
        }

        li.attendee-names {
          clear: both;
        }

        span.name {
          float: left;
          padding-right: 1em;
        }
        span.cancel {
          float: right;
        }
      }

      .tt-container {
        margin-top: 2em;
        margin-bottom: 0;
      }
    }

    .photo-container {
      margin-bottom: 0.5em;

      @include span-columns(4 of 12);

      @include media($tablet) {
        @include span-columns(12 of 12);
        
      }

      .host-photo {
        padding: 5px;
        line-height: 0;
        border-color: $tws-yellow;

        @include media($tablet) {

          padding: 0.5em;
        }
      }
    }

    .hello {

      &.host {
        @include span-columns(8 of 12);
        margin-right: 0;
      }

      h3 {
        font-weight: 400;
      }

      h2 {
        @extend h3;

        font-weight: 600;
        color: $tws-orange;
        margin-bottom: 0.25em;
      }

      @include media($tablet) {
        
        @include span-columns(12 of 12);

      }

      @include media($desktop) {
        
        h2 {
          font-size: 1.5em;
        }

        h3 {
          font-weight: 600;
        }
      }
    }
  }

  .dash-body {
    margin-bottom: 3em;

    @include media($tablet) {

      @include span-columns(9 of 12);
    }

    h2 {
      margin-bottom: 1em;
    }

    p {
      margin-bottom: 1.5em;
    }

  }
}

.dash-create-new-tea {
  overflow: auto;
  margin-bottom: 1em;

  @include media($tablet) {
    @include span-columns(4.5 of 9);
    margin-bottom: 0;
  }

  .new-tea-box {
    border: 2px dashed $base-font-color;
    text-align: center;
    overflow: auto;
    padding: 1em;

    .plus-sign-container {
      position: relative;

      @include span-columns(1 of 4);
    }

    .homecity-text-container {
      position: relative;

      @include span-columns(4 of 4);
    }

    .schedule-text-container {
      position: relative;

      @include span-columns(3 of 4);
    }

    h1 {
      font-size: 4em;
      line-height: 1;
    }

    .schedule-text {
      h3 {
        margin-bottom: 0;
        text-align: center;
        font-size: 1.75em;
      }

      h5 {
        font-size: 1.25em;
        text-transform: lowercase;
      }
    }
  }

  .tt-box {
    background: $tws-white;
    border: 2px dashed $tws-orange;
    position: relative;

    .fake-tt {
      padding: 1em 0.75em 1.25em 0.75em;
    }
  }

  h3.date {
    margin-bottom: 0.75em;
  }

  a {
    color: $base-font-color;
    position: relative;

    &:before {
      content: '';
      display: none;
      height: 100%;
      width: 100%;
      background: $tws-white;
      position: absolute;
      left: 0;
      top: 0;
    }

    &:hover {
      @include transition(0.25s);

      .special-offer {
        p.button {
          color: $tws-orange;
          background: $tws-white;
          @include transition(0.25s);
        }
      }
    }
  }
}

.dash-outro {
  background: lighten($tws-yellow, 22);
  padding: 2em 0;
  overflow: auto;

  .container {

    @include media($tablet) {
      @include span-columns(10 of 12);
      @include shift(1);
    }

    @include media($desktop) {
      @include span-columns(8 of 12);
      @include shift(2);
    }
  }

  h5 {
    margin-bottom: 1em;
  }

  p {
    font-size: 0.8em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}