/* 

These are styles related to forms within the user or host dashboards

*/

.form {

	@include outer-container;

	&.first {
    margin-bottom: 2em;
  }

  form {
    background: $tws-white;
    border: $base-border;
    border-color: $tws-yellow;
    padding: 0 0 1em;

    &.no-header {
      padding: 1em 0;
    }

  	.full-name, .name-email, .social, .new-password {
			@include outer-container;
			@include span-columns(12);

			margin: 0;

			@include media($tablet) {
				padding: 0 1em;
			}
		}
  }

  .field {
    margin: 0 1em;

    &.split2 {

      @include media($tablet) {
      	margin: 0;

	      @include span-columns(6 of 12);
	    }
    }

    &.split1 {
      clear: both;
    }
  }

  h3 {
    background: darken($tws-tan, 2);
    border-top: 1px solid $tws-yellow;
    border-bottom: 1px solid $tws-yellow;
    padding: 1em;
    margin-bottom: 1em;
    clear: both;

    &.first {
      border-top: 0;
    }
  }

	label {
		@extend h5;
		display: inline;
		margin-bottom: 0.5em;
		line-height: 1.25;

		&.inline {
			display: inline;
			margin-bottom: 0;
		}
	}

	span.sub-label {
		@extend h5;
		display: inline;
	}

	.form-label {
		margin-bottom: 0.5em;
		line-height: 1.25;
	}

	input[type="text"] {
		margin: 0 0 1em;
	}

	.dropdown {
    width: 100%;
    height: 3.25em;
    overflow: hidden;
    border: $base-border;
    border-radius: .35em;
    background: $tws-white asset-url('dropdown-arrow.png') no-repeat 97.5% center;
    background-size: 1em auto;
    margin-bottom: 1em;
    select {
      height: 100%;
      line-height: 100%;
      width: 105% !important;
      border: 0 !important;
      border-radius: 0;
      -webkit-appearance: none;
      background: transparent;
      padding: 1em;
    }
  }
}

.cancel-account {
	input.cancel-account {
		@include inverted-button($tws-orange);
		cursor: pointer;

		&:hover {
			background-color: $tws-orange;
			color: $tws-white;
		}
	}
}

.form.create-tea {
	.field {
		margin-bottom: 1em;

		&.duration {
			display: none;
		}

		&.datepicker {
			#tea_time_start_time_1i,
      #tea_time_start_time_2i,
      #tea_time_start_time_3i,
      #tea_time_start_time_4i,
      #tea_time_start_time_5i {
      	display: inline-block;
      	width: auto;
      }
		}
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> create new tea time updated styles but buttons need display adjustments
