/* 

These are styles related to tea time displays on attendee or host dashboards.

*/

.dash-body {
	ul.upcoming {
    list-style: none;
    padding: 0;
  }

  li.tea-time, .edit-tea {
    overflow: auto;
    margin-bottom: 2em;

    &.cancelled {

    	.tt-deets, .other-deets, .host-deets {
    		opacity: 0.25;
    	}

    	.tt-container:before {
	    	opacity: 1;
	    	content: 'Tea Time Canceled';
	    	display: block;
	    	position: relative;
	    	width: 100%;
	    	font-weight: 600;
	    	font-size: 1em;
	    	background: $tws-medium-gray;
	    	color: $tws-white;
	    	text-align: center;
	    	letter-spacing: 2px;
	    	text-transform: uppercase;
	    }
	  }
  }
}

.tt-deets {
  overflow: auto;
  margin-bottom: 1em;

  @include media($tablet) {
    @include span-columns(4.5 of 9);
    margin-bottom: 0;
  }

  .tt-container {
	  margin: 0;

	  @include span-columns(12 of 12);
	  @include outer-container;

	  .tt-box {
	    padding: 0.75em;
	    margin-bottom: 0.5em;
	  }

	  .tt-card-top {
	    text-align: left;
	    margin: 0;
	    padding: 0;
	  }

	  .date-time {
	    text-align: left;
	    width: 100%;
	    position: relative;
	    top: auto;
	    text-transform: none;

	  }

	  .controls {

	  	&.attendee {
	  		background: $tws-white;
		    border: $base-border;
		    border-top: none;
		    padding: 0.5em;
		    clear: both;
		    overflow: auto;

				@include media($tablet) {
			    @include span-columns(4.5 of 9);

			    background: none;
			    border: none;
			    padding: 0;
			    margin-bottom: 0;
			    clear: none;
			  }
	  	}
	    
	    .edit {
	      float: right;
	    }

	    .cancel {
	      float: left;
	    }
	  }
	}
}

.other-deets {
	@include media($tablet) {
    @include span-columns(4.5 of 9);
  }

}

.dash-intro {
	.tt-deets {
		@include span-columns(12 of 12);
	}
}

.attendees-container {
	margin-bottom: 1em;

  ul.attendees-list {

  	li.attendee-names {

  		font-size: 0.8em;
  	}
  }
}

.attendees-container.host-view {

	.attendance-section {
		margin-bottom: 1em;
	}

	ul.attendees-list {

		li.attendee-names {
			padding-left: 1.5em;
			position: relative;

			&:before {
				content: '';
				height: 0.6em;
				width: 0.6em;
				border-radius: 50%;
				background: $tws-green;
				position: absolute;
				display: block;
				left: 0.5em;
				top: 50%;

				@include translate(-50%, -50%);
			}
		}

		&.waiting_list li.attendee-names:before {
			background: $tws-yellow;
		}

		&.flake li.attendee-names:before {
			background: $tws-red;
		}

		&.cancelled li.attendee-names:before {
			background: $tws-medium-gray;
		}

		&.no_show li.attendee-names:before {
			border-radius: 0;
			background: none;
			content: '\2715';
			color: $tws-red;
		}

	}
}

.key {
	overflow: auto;
	clear: both;

  .attendance-status {
		padding-left: 1.5em;
		display: block;
		font-size: 0.8em;
		font-weight: 600;
		text-transform: uppercase;
		position: relative;
		float: left;
		clear: both;
		color: $tws-green;

		&:before {
			content: '';
			height: 0.6em;
			width: 0.6em;
			border-radius: 50%;
			background: $tws-green;
			position: absolute;
			display: block;
			left: 0.5em;
			top: 50%;

			@include translate(-50%, -50%);
		}

		&.waiting_list {
			color: $tws-yellow;

			&:before {
				background: $tws-yellow;
			}
		}

		&.flake {
			color: $tws-red;
			
			&:before {
				background: $tws-red;
			}
		}

		&.cancelled {
			color: $tws-medium-gray;
			
			&:before {
				background: $tws-medium-gray;
			}
		}

		&.no_show {
			color: $tws-red;

			&:before {
				border-radius: 0;
				background: none;
				content: '\2715';
				color: $tws-red;
			}
		}
	}

	span.email {
		line-height: 1;
		float: right;
		
		a {
			@include inverted-button($tws-orange,$tws-orange);

			cursor: pointer;
			font-size: 0.6em;
			font-weight: 600;
			text-transform: uppercase;
			padding: 0.5em 1em;
			border-radius: 3px;
			letter-spacing: 0;

			&:hover {
				background-color: $tws-orange;
				color: $tws-white;
			}
		}
	}
}

.attending {
	.tt-deets {
		margin-bottom: 0;

		@include media($tablet) {
			margin-bottom: 1em;
		}

		.tt-box {
			margin-bottom: 0;

			@include media($tablet) {
				margin-bottom: 0.5em;
			}
		}
	}

	.host-deets {
		background: darken($tws-tan, 0.5);
    border: $base-border;
    border-top: none;
    padding: 1em;
    margin-bottom: 1em;
    clear: both;

		@include media($tablet) {
	    @include span-columns(4.5 of 9);

	    background: none;
	    border: none;
	    padding: 0;
	    margin-bottom: 0;
	    clear: none;
	  }

	  .tt-host-intro {
	  	overflow: auto;

	  	@include media($tablet) {
		    @include span-columns(4.5 of 4.5);
		  }

	  	.photo-container {
	  		margin-bottom: 1em;

		    @include span-columns(2.25 of 4.5);

			  .host-photo {
			  	padding: 5px;
	        line-height: 0;
	        border-color: $tws-yellow;

	        @include media($tablet) {

	          padding: 0.5em;
	        }
			  }
	  	}

	  	.host-intro-text {
	  		
	  		@include span-columns(2.25 of 4.5);
	  		margin-right: 0;

	  		p {
	  			font-size: 0.8em;
	  			margin-bottom: 1em;
	  		}

	  	}
	  }	

	  .tt-host-contact {
	    @include span-columns(4.5 of 4.5);
		}

	  .contact-link {
	  	@include inverted-button($tws-orange,$tws-orange);
	  	@include span-columns(2.25 of 4.5);

			cursor: pointer;
			font-size: 0.6em;
			font-weight: 600;
			text-transform: uppercase;
			padding: 0.5em 1em;
			border-radius: 3px;
			letter-spacing: 0;
			display: block;
			margin-bottom: 1em;
			text-align: center;

			&:hover {
				background-color: $tws-orange;
				color: $tws-white;
			}
	  }
	}
}

.canceling {
	hr, .availability {
		display: none;
	}
	.tt-container {

		h3 {
			margin-bottom: 0;
		}
		@include media($tablet) {

			@include span-columns(3 of 3);
		}
	}
}