/*

These are styles related to forms within the user or host dashboards

*/
.form {

	@include outer-container;

	&.first {
    margin-bottom: 2em;
  }

  &.boxless {
    form {
      background: none;
      border: none;
      padding: 0;
    }

    .field {
      margin: 0;
    }
  }

  form {
    background: $tws-white;
    border: $base-border;
    border-color: $tws-yellow;
    padding: 0 0 1em;

    &.no-header {
      padding: 1em 0;
    }

  	.split-container, .name-email, .social, .new-password {
			@include outer-container;
			@include span-columns(12);

			margin: 0;

			@include media($tablet) {
				padding: 0 1em;
			}
		}
  }

  .field {
    margin: 0 1em;

    &.split2 {

      @include media($tablet) {
      	margin: 0;

	      @include span-columns(6 of 12);
	    }
    }

    &.split1 {
      clear: both;
      overflow: hidden;
    }

    &.last {
      margin-bottom: 1em;
    }
  }

  h3.form-subheader {
    background: darken($tws-tan, 2);
    border-top: 1px solid $tws-yellow;
    border-bottom: 1px solid $tws-yellow;
    padding: 1em;
    margin-bottom: 1em;
    clear: both;

    &.first {
      border-top: 0;
    }
  }

	label {
		@extend h5;
		display: inline;
		margin-bottom: 0.5em;
		line-height: 1.25;

		&.inline {
			display: inline;
			margin-bottom: 0;
		}
	}

	span.sub-label {
		@extend h5;
		display: inline;
	}

	.form-label {
		margin-bottom: 0.5em;
		line-height: 1.25;
    clear: both;
	}

	input[type="text"] {
		margin: 0 0 1em;
	}

	.dropdown {
    width: 100%;
    height: 3.25em;
    overflow: hidden;
    border: $base-border;
    border-radius: .35em;
    background: $tws-white asset-url('dropdown-arrow.png') no-repeat 97.5% center;
    background-size: 1em auto;
    margin-bottom: 1em;
    select {
      height: 100%;
      line-height: 100%;
      width: 105% !important;
      border: 0 !important;
      border-radius: 0;
      -webkit-appearance: none;
      background: transparent;
      padding: 1em;
    }
  }
}

.radio-buttons {
  label {
    width: 100%;
    display: inline-block;
    input {
      width: 25px;
      display: inline-block;
    }
  }
  #nested-radio-buttons {
    padding-left: 5%;
    label {
      display: inline-block;
      padding-right: 1.5%;
      font-size: 14px;
      margin-bottom: 0;
      width: auto;
    }
    input {
      margin-bottom: 0;
      width: 25px;
      display: inline-block;
    }
    [type="text"] {
      border-top: none;
      border-right: none;
      border-left: none;
      border-radius: 0;
      padding: 0.3em;
      text-align: center;
      margin-bottom: 0;
    }
  }
}

.edit-host-commitment {
  .title {
    width: 80%;
    border: solid $tws-orange 1px;
    border-radius: 2px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: -1em;
    font-size: 0.8em;
    font-weight: bold;
    padding: .2em 0;
    text-align: center;
    position: relative;
  }

  .orange {
    color: $tws-orange;
  }

  .details {
    border: solid $tws-orange 1px;
    border-radius: 2px;
    padding: 1em;
    padding-top: 1.5em;
    font-size: 0.8em;
    .button {
      margin-top: 10px;
      font-size: 1em !important;
    }
  }
}

.faded {
  opacity: 0.4;
}

.cancel-account, .unsubscribe-newsletter {
	input.cancel-account, input.unsubscribe-newsletter {
		@include inverted-button($tws-orange, $tws-orange);
		cursor: pointer;

		&:hover {
			background-color: $tws-orange;
			color: $tws-white;
		}
	}
}

.unsubscribe-newsletter {
    margin-bottom: 20px;
}

.form.email-reminder {
  textarea {
    font-size: 0.8em;
    line-height: 1.625;
    min-height: 20em;
    border-top: none;
    border-bottom: none;
    margin-bottom: 0;
    border-radius: 0;

    @include media($tablet) {
      min-height: 10em;
    }
  }

  .email-metadata {
    font-size: 0.8em;
    border: $base-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    padding: 1em 0;

    .datum {
      display: block;
      padding: 0 1em;
    }
  }

  .addendum {
    border: $base-border;
    border-top: none;
    border-radius: 0 0 $base-border-radius $base-border-radius;
    padding: 1em;
    padding-top: 0;
    margin-bottom: 1.5em;

    p.note {
      font-size: 0.8em;
      font-style: italic;
    }

    hr {
      margin-top: 0;
    }

    .information {
      font-size: 0.6em;
      color: $tws-medium-gray;
      background: $base-border-color;
      padding: 0.5em 1em;
    }
  }
}
.form.email-reminder, .form.create-tea, .form.edit-tea {

  .form-checkbox input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin:0px;
    padding:0px;
    margin-top:-2px;
    margin-left:-2px;
    width:14px;
    height:14px;
  }
	.field {
    p {
      margin-bottom: 1em;

      &.small {
        font-size: 0.8em;
      }

      &.informational {
        padding-left: 2em;
        position: relative;
      }
    }

    .border-circle {
      border: 2px solid $base-font-color;
      border-radius: 50%;
      height: 1.5em;
      width: 1.5em;
      display: inline-block;
      text-align: center;
      padding: 0;
      font-weight: 600;
      font-size: 1em;
      line-height: 1.25;
      position: absolute;
      top: 0;
      left: 0;
    }

		&.duration {
			display: none;
		}

		&.datepicker {
			#tea_time_start_time_1i,
      #tea_time_start_time_2i,
      #tea_time_start_time_3i,
      #tea_time_start_time_4i,
      #tea_time_start_time_5i {
      	display: inline-block;
      	width: auto;
      }
		}
	}
  .tt-deets {
    overflow: auto;

    @include media($tablet) {

      @include span-columns(3 of 9);
    }
  }
}
