footer {
  background-color: $tws-yellow;
  overflow: auto;
  padding: 2em 0;

  .nav-list {
    text-align: center;
  }

  .nav-link-item {
    padding-right: 30px;
    display: inline-block;
    float: none;
  }
}

.footer-container {
  @include span-columns(10 of 12);
  @include shift(1);
}

.footer-link-top-margin {
  margin-top: 20px;
}

.ethos-rant {
  color: $tws-white;

  @include media($tablet) {
    @include span-columns(7 of 10);
  }
}

.admin-links {
  font-family: $gibson;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5em;

  a {
    color: $tws-white;
    display: inline-block;
    padding: 0 1em;
  }

  @include media($tablet) {
    @include span-columns(3 of 10);
    text-align: left;

    a {
      display: block;
    }
  }
  
}