form {

  input, select, textarea {
    display: block;
    margin: 0 0 $base-spacing / 2 0;
    padding: 1em;
    width: 100%;
    border-radius: $base-border-radius;
    box-shadow: none;
    border: $base-border;

    &:focus, &:hover, &:active {
      outline: none;
    }


    &:first-of-type {
      margin-top: 0;
    }
  }
}

.sessions.new .remember-me {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;

}

input {
  &.name:after {
    content: 'Name';
    position: absolute;
    font-size: $base-font-size*0.5;
    top: 50%;
    right: 50%;
    display: inline-block;
  }
  &.email:focus {

  }
  &.password:focus {

  }

  &[type="checkbox"] {
    float: left;
    width: auto;
    padding: 0px;
    width: 14px;
    height: 14px;
    margin: 0;

    & + label {
      margin: 0;
      margin-top: -2px;
      float: left;
      line-height: 1.5;
    }

    & + label[for="attendance_provide_phone_number"] {
      width: 96%;
      padding-left: 2%;
    }

    & + label[for="user_remember_me"] {
      padding-left: 5px;
      margin-top: -4px;
    }
  }
}
