form {
  /* Special formatting for CKEditor elements */
  div[class^="cke_"] {
    margin: 0 0 $base-spacing / 2 0;
  }
  input, select, textarea {
    display: block;
    margin: 0 0 $base-spacing / 2 0;
    padding: 1em;
    width: 100%;
    border-radius: $base-border-radius;
    box-shadow: none;
    border: $base-border;

    &:focus, &:hover, &:active {
      outline: none;
    }


    &:first-of-type {
      margin-top: 0;
    }
  }
}

input {
  &.name:after {
    content: 'Name';
    position: absolute;
    font-size: $base-font-size*0.5;
    top: 50%;
    right: 50%;
    display: inline-block;
  }
  &.email:focus {

  }
  &.password:focus {

  }
}
