/*

Stylesheet for all things related to presentation of 
tea times across the website.

*/

.tt-page-only {
	display: none;
}

.tt-set-container {
	overflow: auto;
	clear: both;

}

.tt-solo {

	.section-header {
		margin-bottom: 1em;
	}

	.tt-form {
		margin-bottom: 3em;
		overflow: auto;
	}

	form.schedule-tea {
		margin-top: 1em;

		.button-container {
			text-align: center;

			a.cancel {	
				margin-top: 1em;
			}
		}
	}
}

.tt-grid-unit {
	@include media($tablet) {

		@include span-columns(3 of 12);
		@include omega(4n);
	}
}

.tt-container {
	margin-top: 1em;
	margin-bottom: 2em;

	.tt-box {
		background: $tws-white;
		border: $base-border;
		padding: 0.75em 0.75em 1em 0.75em;
		position: relative;
	}

	.tt-card-top {
	    overflow: auto;
	    margin-top: -2em;
	    padding-top: 0.4em;
	    position: relative;
	}

	.host-container {
		background: $tws-white;
		border: $base-border;
		border-width: 2px;
		border-color: $tws-yellow;
		border-radius: $base-border-radius;
		float: right;
		position: relative;
		width: 45%;
		margin: 0 0 0.5em 0.75em;
		padding: .25em;

		.host-avatar {
			width: 100%;
			padding-bottom: 100%;
			position: relative;
			margin-bottom: 0.25em;
		}

		h6 {
			@extend a;

			text-align: center;
		}
	}

	.avatar {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: $base-border-radius;
		position: absolute;
		width: 100%;
		padding-bottom: 100%;
		
	}

	.date-time {
		text-transform: uppercase;
		text-align: center;
		float: left;
		width: 48%;
		position: absolute;
		top: 25%;

	}

	.place {
		clear: both;
		min-height: 2em;
	}

	p.description {
		font-size: $base-font-size * 0.8;
		text-transform: uppercase;
		text-align: center;
		color: $tws-medium-gray;
		margin-bottom: $base-font-size/3;
	}

}

.progress-bar-block.tea-time {
	
	.progress-bar {
		position: relative; 

		span.notch {
			position: absolute;
			height: 100%;
			border-left: 2px solid $tws-white;
			top: 0;
		}
	}

	.bar {

	}

}

.tt-cta {
	padding: 1em 0.5em 0;

	button {
		width: 100%;

		&:disabled {
			@include inverted-button($base-button-color);
		}
		
		&.green:disabled {
			@include inverted-button($tws-green);
		}
		
		&.gray:disabled {
			@include inverted-button($tws-medium-gray);
		}

		&.yellow:disabled {
			@include inverted-button($tws-yellow);
		}
	}
}

.tt-context {
	@include media($tablet) {

		@include span-columns(8 of 12);
	}

}

.tt-all {

	clear: both;

	.city-title-holder {
		@extend %vertical-center-flex-container;
	    @include padding(90px 0);
		@include span-columns(3 of 12);
		margin-top: 1em;
		border: 1px solid $tws-yellow;
	}
	h3 {
		font-size: 1.25em;
		text-align: center;
	}

}

.tt-intro {

	@include media($tablet) {

		@include span-columns(8 of 12);
		@include shift(2 of 12);
	}
}

.city-jump {
	margin: 1em 0;
	text-align: center;
	overflow: auto;

	@include media($tablet) {

		@include span-columns(12 of 12);
		margin-right: 0;
	}

	.jump-box {
		padding: 1em 1em 0 1em ;
		border: $base-border;
		border-color: $tws-yellow;
		color: darken($tws-yellow,15);

		.jump-city-list {
			overflow: auto;
			margin: 1em 0 0;
		}

        a {
            border: 1px solid $tws-yellow;
            color: darken($tws-yellow,15);
            background-color: $tws-offwhite;
            padding: .25em 1em;
            display: inline-block;
            margin: 0 0.5em 1em;
            border-radius: 10px;
            font-size: 0.8em;
            font-weight: 600;
            text-transform: uppercase;

            &:hover {
                background-color: $tws-yellow;
                color: $tws-offwhite;
            }
        }
	}
}

// Below styles are for /tea_times/123 pages

.tt-event-page {
	margin-top: 2em;
	overflow: auto;

	.tt-form {

		@include media($tablet) {

			@include span-columns(4 of 12);
		}

		button {
			width: 100%;
		}

		h2.modified-caps {
			text-transform: uppercase;
			font-size: 1em;
			text-align: center;
			margin: .5em 0;

		}
	}

	.tt-container {
		margin-bottom: 1em;

		.tt-page-only {
			display: block;
			text-align: left;
			.info-sec {
				clear: both;
				overflow: auto;
				min-height: 0;
			}
			.emoji {
				float: left;
				width: 10%;
				display: block;
			}
			h4, h5 {
				font-size: 1em;
				float: left;
				width: 90%;
				margin-top: .25em;
				&.bold {
					font-weight: 600;
				}
				&.caps {
					text-transform: uppercase;
				}
				&.light {
					color: $tws-medium-gray;
				}
			}
			h5 {
				font-size: 0.8em;
				margin-top: 0.4em;
			}
		}

		.tt-card-top {
			margin: 0;
			display: none;
			.place {
				text-align: center;
				min-height: 0;
			}
		}

		.host-container {
			display: none;
		}

		.date-time {
			display: none;
			float: none;
			width: 100%;
			position: relative;
			top: 0;

			.day, .date, .time {
				margin-bottom: .15em;
			}
		}

	}

	.tt-context {
		margin: 1em 0;

		@include media($tablet) {

			@include span-columns(8 of 12);
			padding-left: 2em;
		}

		.host-introduction {
			@include media($tablet) {
    			@include span-columns(6 of 8);
    			@include shift(1 of 8)
    		}
    		overflow: auto;
    		margin-bottom: 1em;

    		h5 {
				margin-top: .5em;
				color: $tws-medium-gray;
				line-height: 1.5em;
			}
		}

		

		.photo-plus {
			margin: 1em 0 2em;
			overflow: auto;
			clear: both;
		}

		.photo-container {

    		@include media($tablet) {
    			@include span-columns(4 of 8);
    			@include shift(2 of 8)
    		}
		}

		.host-photo {
			background: $tws-white;
		    border: $base-border;
		    border-width: 2px;
		    padding: 0.75em 0.75em 3em;
		    line-height: 0;
		    margin-bottom: 0.5em;

		    .host-img {
		      width: 100%;
		      height: auto;
		    }
		}

		.intro-summary {

		}

		.bio-section {
			clear: both;
		}

		.rest-of-profile {
			border: $base-border;
			margin-bottom: 2em;

			@include media($tablet) {
    			@include span-columns(6 of 8);
    			@include shift(1 of 8);
    		}

    		p {
    			font-size: 0.9em;
    		}

    		.sans-tagline {
    			padding: 2em;
				background: $tws-white;
    		}

    		.tagline {
    			text-align: center;
    			padding: 1em;
    			p {
    				margin: 0;
    			}
    		}

		}
	}
}

.tt-refresh {
	margin-top: 2em;

	h5 {
		text-transform: uppercase;
		font-weight: 600;
		text-align: center;

		#large {
			font-size: 2em;
		}
	}

	hr {
		border-color: darken($tws-yellow,15); 
		width: 30%;
		margin: 1em auto;
	}

	p {
		font-size: 0.8em;
		position: relative;
	}

	#emoji-shift:after {
		
		content: '👇👇👇';
		font-size: 2em;
		text-align: center;
		display: block; 

		@include media($tablet) {
			content: '👉';
		}
	}
}