.row
  .wide
    %p
      %em.starter= "#{@city.name}, tea time is coming to you soon. Sign up here so you know when."
    %p.last
      We're still working on gathering a super team of hosts. By signing up here, you'll be able to join and connect with awesome strangers before we announce it to anyone else.
  .narrow
    = render partial: 'shared/signup'
= render partial: 'host_headshots', locals: {hosts: @city.hosts}
.row
  .narrow.howitworks
    %h3.divider Here's what happens
    %ol
      %li 
        You and I sit together with 3-5 strangers.
      %li 
        It gets awkward and we'll talk about the weather or some TV show.
      %li
        At some point, someone will ask a question or share a story that breaks the "formality seal," and suddenly, we'll all feel like we can be real people.
      %li
        Lots of stories, listening, and more questions.
      %li.small
        All sorts of serendipity!
      %li
        We sit there and wonder how this doesn't happen more often.
      %li
        Maybe we become friends. Maybe not. That's cool too.