- count = hosts.count 
- many_hosts = hosts.count > 2
.row
  .wide
    - if many_hosts
      %h3.sectionhead Hosts plant seeds for bomb diggity conversations
    - elsif count >= 1
      %h3.sectionhead We could use some more hosts
    - else
      %h3.sectionhead To bring tea time together, we'll also need some hosts
    %ul.host-headshots
      - hosts.each do |host|
        %li.host
          .avatar-container.quarter
            .avatar{style:"background-image:url(#{host.avatar.url(:medium)});"}
          %h5.host-name= link_to(host.name, host_city_path(@city, host) )
    = render partial: "host_signup", locals: {city: @city}