- count = hosts.count 
- many_hosts = hosts.count > 2
.row.mobilewide
  .wide
    - if many_hosts
      %h3.sectionhead Hosts plant seeds for bomb diggity conversations
    - elsif count >= 1
      %h3.sectionhead We could use some more hosts
    - else
      %h3.sectionhead To bring tea time together, we'll need some hosts
    .mobilepad
      %ul.host-headshots
        - hosts.each do |host|
          %li.host
            %a{href:host_city_path(@city, host)}
              .avatar-container.quarter
                .avatar
                  %img.avatar-image{src:host.avatar.url(:medium)}
              %h5.host-name= link_to(host.name || "No Name :(", host_city_path(@city, host) )
  .narrow.mobilepad
    - if count <= 2
      = render partial: "host_signup", locals: {city: @city, count: count}
