.container.user-form.admin
  = render partial: 'shared/nav_header'
  .mobilepad
    %h2.admin-head Editing City
    = render 'form'
    = link_to 'Show', @city
    \|
    = link_to 'Back', cities_path