<%= render partial: 'shared/header' %>
<div class="cities-partial">
<div>
  <div class="header-big">Tell us where you are at!</div>
  <div class="header-small">We'll let you know if we have something near you</div>
</div>

<div>
  <input class="form-control"/>
  <button class="btn">Submit</button>
</div>
<div class="cities-container-header">Cities where Tea with Strangers is at</div>
<div class="current-cities-container"></div>
<div class="cities-container-header">Pending Cities</div>
<div class="upcoming-cities-container"></div>
<button class="btn">Don't see your city listed? Add a new one</button>
<div>
