<div class="light-background">
  <%= render partial: 'shared/header' %>
  <div class='container'>
    <div class="cities-partial">
      <div class="city-cta-header">
        <h1 class="dark center">Where can we find you?</h1>
        <p class="header-small">Choose the city where you'd like to join for tea time</p>
        <%= link_to suggest_cities_path do %>
          <button class="btn new-city-cta">Don’t see your city or college? Add it here!</button>
        <% end %>
      </div>

      <div class="cities-lists">
        <div class="cities-section">
          <h3 class='capitalize cities-list-header'>We're in these cities</h3>
          <div class="cities-list current-cities-container" data-city-type='active'>
          </div>
        </div>
        <div class="cities-section">
          <h3 class='capitalize cities-list-header'>We're on our way to these cities</h3>
          <div class="cities-list upcoming-cities-container" data-city-type='upcoming'>
          </div>
        </div>
      </div>
    </div>

    <%= link_to suggest_cities_path do %>
      <button class="btn new-city-cta">Don't see your city listed? Add a new one</button>
    <% end %>
  </div>
</div>
<%= render partial: 'shared/new_footer' %>
