<%= render partial: 'shared/header' %>
<div class='container'>
  <div class="cities-partial">
    <div>
      <div class="header-big">Tell us where you are at!</div>
      <div class="header-small">We'll let you know if we have something near you</div>
    </div>

    <div>
      <%= link_to suggest_cities_path do %>
        <button class="button">Don’t see your city or college? Add it here!</button>
      <% end %>
    </div>
    <h1 class='cities-list-header'>We're in these cities</h1>
    <div class="cities-list current-cities-container" data-city-type='active'>
    </div>
    <div class="">
    </div>
    <h1 class='cities-list-header'>We're on our way to these cities</h1>
    <div class="cities-list upcoming-cities-container" data-city-type='upcoming'>
  </div>
  <%= link_to suggest_cities_path do %>
    <button class="button">Don’t see your city or college? Add it here!</button>
  <% end %>
</div>
