.city-landscape
  .blur-layer
  .landscape-text
    %h1 
      Hey #{@city.name}!
      %br
      Let's get tea.

.container
  = render partial: 'shared/nav_header'
  .row
    .eight.columns.alpha
      %h2 Let's talk.
      %ol
        %li You and 3-5 strangers sit down together
        %li 
          For 2 hours or so, we ask questions, share stories,
          and listen
        %li
          We create serendipity out of nothing.
        %li
          We sit there and wonder how this doesn't happen more often
        %li
          Maybe we become friends. Maybe not. That's cool too.
    .eight.columns.omega
      %p 
        Tea time creates space for neighbors to sit together and try to
        understand each other.
      %p It's just a really good conversation.
    


