.landscape-header.city{style:"background-image: url(#{@city.header_bg.url});"}
  .blur-layer
  .landscape-text
    %h1.heycity
      Hey #{@city.name}!
      %br
      Let's get tea.
.container
  = render partial: 'shared/nav_header'
  = @city.hosts.empty? ? render(partial: 'city_no_hosts') : render(partial: 'city_has_hosts')
=content_for(:footer) { render partial: 'shared/footer' }
