// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

div.chartTitle {
    font-size: 1.3em;
    margin-bottom: 30px;
}

div.chartContainer {
    background-color: #DDDDDD;
    padding: 20px;
    float: left;
    border: 1px solid #333333;
    margin: 3px;
}

.doughnut-legend, .line-legend {
    span.indicator {
        height: 20px;
        width: 20px;
        display: inline-block;
        margin-right: 10px;
    }

    span.label {
        line-height: 20px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
    }
}
