/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/dialog
 *= require_self
 */

@import "tws-styles/application";
@import "static/*";
@import "cities/*";

.sessions.new, .jfdi_signup, .cities.index, .forbes_show, .registrations, .tea_times, .profiles {
  @extend .light-background;
}

.admin {
  @extend .light-background;
}

.sessions.new .remember-me {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;

  input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin:0px;padding:0px;
    margin-top:-2px;
    margin-left:-2px;
    width:14px;
    height:14px;
  }
}

.write_mail form textarea {
  display: block;
  margin: 0.8125em 0;
  padding: 1em;
  width: 100%;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid #DDD;
}

.admin {
  .container {
    margin: 0 auto;
    padding: 3em 0 0.5em;
  }
  h2 {
    text-align: center;
  }
  .cities-admin {
    border-collapse: separate;
    td, th {
      border: solid 1px;
      padding: 1px 10px
    }
  }
}

.container.dashboard {
  .attendees-list {
    list-style: none;
    padding: 0;
  }
}