/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./skeleton
 *= require_self
 *= require_tree ./
 */

$tws-beige: rgb(251,241,228);
$tws-grey: rgb(147, 149, 152);
$tws-dark-grey: rgb(58, 58, 60);

body {
  background-color: $tws-beige;
  font: 16px/24px 'Helvetica Neue', 'Arial', sans-serif;
}

nav.header {
  font-size: 1.2em;
  
  h1.logo {
    font: 16px/24px 'Helvetica Neue', 'Arial', sans-serif;
    color: $tws-grey;
    float: left;
    font-size: inherit;
    line-height: 24px;
    vertical-align: baseline;
    margin-bottom: 20px;
  }

  ul.nav-list {
    float: right;
    li {
      margin-left: 10px;
      margin-bottom: none;
      display: inline;
      list-style-type: none;
      a {
        color: $tws-grey;
        text-decoration: none;
      }
    }
  }
}
