/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./skeleton
 *= require_self
 *= require_tree ./
 */

$tws-beige: rgb(251,241,228);
$tws-grey: rgb(147, 149, 152);
$tws-dark-grey: rgb(58, 58, 60);
$shadow-grey: #bebebe;

body {
  background-color: $tws-beige;
  font: 16px/24px 'Helvetica Neue', 'Arial', sans-serif;
}

.landscape-header {
  height: 300px;
  margin-bottom: 20px;
  border-bottom: 1px solid $shadow-grey;
  background: no-repeat center center;
  background-size: cover;
  box-shadow: 0 4px 4px -4px $shadow-grey;
  position: relative;

  .blur-layer {
    z-index: 5;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background: none repeat scroll 0% 0% rgba(246, 210, 172, 0.25);
  }

  .landscape-text h1 {
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px 2px #404040;
    position: absolute;
    top: 50%;
    margin-top: -60px;
    left: 50%;
    margin-left: -130px;
    z-index: 10;
  }
}


header nav {
  font-size: 1.2em;
  
  h1.logo {
    font: 16px/24px 'Helvetica Neue', 'Arial', sans-serif;
    color: $tws-grey;
    float: left;
    font-size: inherit;
    line-height: 24px;
    vertical-align: baseline;
    margin-bottom: 20px;
  }

  ul.nav-list {
    float: right;
    li {
      margin-left: 10px;
      margin-bottom: none;
      display: inline;
      list-style-type: none;
      a {
        color: $tws-grey;
        text-decoration: none;
      }
    }
  }
}

footer {
  width: 80%;
  text-align: center;
  padding: 20px 10%;

  &.red {
    background: rgb(225,164,60);
  }
}


.text-seperator {
  background: rgb(225,164, 60);
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 9px 0px;
}
.host-avatar {
  border-radius: 50%;
  border: 2px solid rgb(182,62,57);

  &.tiny {
    $size: 60px;
    height: $size;
    width: $size;
    padding: 2px;
  }

  &.small {
    height: 160px;
    width: 160px;
    padding: 3px;
  }
}

/* Tea Time Row Styles */
.tea-time {
  line-height: 30px;

  img.host-avatar {
    display: inline;
    vertical-align: middle;
  }
  p {
    display: inline;
    vertical-align: middle;
    margin-bottom: 0px;
  }

  .host-name {
    border: 2px solid rgb(182,62,57);
    padding: 20px 0;
    text-align: center;
  }

  .button {
    border: none;
    color: white;
    text-transform: uppercase;
    text-shadow: none;
    text-align: center;
    padding: 30px 0;
    font-size: 1.25em;
    line-height: .75em;

    &.green {
      background: green;
      border-bottom: 3px solid darken(green, 20%);
      padding-bottom: 27px;
    }

    &.red {
      background: red;
      border-bottom: 3px solid darken(red, 20%);
      padding-bottom: 27px;
    }

  }
}
