/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize
 *= require jquery-ui/dialog
 *= require_self
 */

@import "bourbon";
@import "neat";

// Start of TWS imports
@import "base/variables";
@import "base/mixins";
@import "base/gradients";
@import "base/media-queries";
@import "base/typography";
@import "base/enhanced_typography";

// Base & Layout Components
@import "static/about";
@import "components/site-wide";
@import "components/header";
@import "components/footer";
@import "components/nav-list";
@import "components/buttons";
@import "components/headers";
@import "components/forms";
@import "components/quotes";
@import "components/share";
@import "components/loader";
@import "components/tea-time";
@import "components/host-profiles";
@import "components/hosts";
@import "components/modals";
@import "components/dashboard";
@import "components/dashboard-forms";
@import "components/dashboard-teas";
@import "components/dashboard-tasks";
@import "components/notifications";
@import "components/ckeditor-override";

// Block Components
@import "components/cover-photo";
@import "components/copy-section";
@import "components/press-list";

.container {
  @include outer-container;
  @include box-sizing(border-box);
  @include padding(0 $container-gutter-padding);
}

@import "static/*";
@import "cities/*";

//Blog Import
@import "components/blog/blog";

.wrapper {
  @include display(flex);
  @include flex-direction(column);
  min-height: 100vh;
}

.wrapper-content {
  @include flex(1);
}



.sessions.new, .jfdi_signup, .cities.index, .show,
.registrations, .tea_times, .profiles, .attendance, .email_reminders,
.hosts.edit {
  @extend .light-background;
}

.admin {
  @extend .light-background;
}

.write_mail form textarea {
  display: block;
  margin: 0.8125em 0;
  padding: 1em;
  width: 100%;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid #DDD;
}

.admin {
  .container {
    margin: 0 auto;
    padding: 3em 0 0.5em;
  }
  h2 {
    text-align: center;
  }
  .cities-admin {
    border-collapse: separate;
    td, th {
      border: solid 1px;
      padding: 1px 10px
    }
  }
}

.container.dashboard {
  .attendees-list {
    list-style: none;
    padding: 0;
  }
}
