<p>Hey hey!</p>

<img src="http://media.giphy.com/media/14d02aGiXDj9N6/giphy.gif" />

<p>Looks like you forgot the password on Tea With Strangers for your account with this email: <%= @resource.email %>.</p>

<p><%= link_to 'Click here to change your password', edit_password_url(@resource, reset_password_token: @token) %>, but if you didn't actually ask to reset your password. Ignore the email. Somebody might just be playing games with you.</p>

<p>Your password won't change until you access the link above and create a new one.</p>

<p>
	Hope you're having the best day of all time!
	<br>
	The Tea With Strangers Family
</p>
