.container.city {
  margin-bottom: $base-font-size*3;
  &.no-banner {
    margin-top: $base-font-size*3;
    .coldwater-letter {
      background: $tws-white;
      border: $base-border;
      padding: 2em 2em;
      h3 {
        margin-bottom: 1em;
        line-height: 1.25em;
      }
      p {
        font-size: 0.9em;
      }
    }
  }
}

.cities-partial {
  margin-bottom: 3em;
  overflow: auto;

}

.submit-city-container {
  @include media($tablet) {
    @include span-columns(10 of 12);
    @include shift(1);
  }

  @include media($desktop) {
    @include span-columns(8 of 12);
    @include shift(2);
  }
}

.city-cta-header {
  padding: 3em 0 0.5em;

  h1 {
    margin-bottom: $base-font-size/2;
  }

  p.header-small {
    @extend p;

    text-align: center;
    margin-bottom: 0;
  }

}

form.dummy {
  margin-bottom: 3em;
  overflow: auto;

  &.new_city {
    margin-bottom: 1em;
  }

  input[type="text"] {

    @include span-columns(12);

    @include media($tablet) {
      @include span-columns(7 of 10);
    }

    @include media($desktop) {
      @include span-columns(6 of 8);
    }
  }

  input[type="submit"], button {
    margin-top: 0;

    @include span-columns(12);

    @include media($tablet) {
      @include span-columns(3 of 10);
    }

    @include media($desktop) {
      @include span-columns(2 of 8);
    }
  }

}

button.new-city-cta {
  line-height: 1.5;
  margin: 1em 0;

  @include media($tablet) {
    @include span-columns(10 of 12);
    @include shift(1);
  }

  @include media($desktop) {
    @include span-columns(8 of 12);
    @include shift(2);
  }

  &.top-button {
    margin-bottom: $base-font-size*1.5;
  }

  @include media($tablet) {
    line-height: 1;
  }
}

.cities-lists {
  @include outer-container;
  clear: both;

  .cities-section {
    margin-bottom: $base-font-size*1.5;
  }
}

h3.cities-list-header {
  text-align: center;
  margin-bottom: $base-font-size*1.5;
}

.cities-list {
  @include outer-container;


  .city {
    position: relative;
    height: 160px;
    margin-bottom: $base-font-size;

    &.no-photo {
      height: auto;
    }

    @include media($tablet-only) {

      @include omega(2n);
      @include span-columns(6 of 12);
    }

    @include media($desktop) {

      @include omega(3n);
      @include span-columns(4 of 12);
    }

    .city-image {
      width: 100%;
      height: 100%;
      background-size: cover;
    }

    .city-name {
      margin: 0;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 10;
      position: absolute;
      text-align: center;

      a {
        &.city-name {
          color: $tws-white;
          letter-spacing: -0.5px;
          text-transform: uppercase;
          width: 100%;
          height: auto;
          padding: 10px;
          @include centerer;
          &:hover {
            text-decoration: underline;
          }
        }
        &.background-filter {
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: rgba($tws-yellow, .5);
          top: 0;
          left: 0;
          text-indent: -9999px;
        }
      }
    }
  }
}

.submit-city-container {
  overflow: auto;
  margin-bottom: 2em;
  clear: both;
}

.city-confirmation-text {
  clear: both;

  h2.confirm-message {
    margin-bottom: $base-font-size;
  }
}

.active-city-list {
  clear: both;


  h3.current-cities-header {
    margin-bottom: $base-font-size;
  }

  .city {
    text-align: center;
  }
}

.city-banner {
  @include cover-photo(url(''), url(''), linear-gradient(to bottom, rgba($tws-yellow, .87), rgba($tws-yellow, .87)));
}

.city-info {
  h2.section-header {
    margin-bottom: $base-font-size;
  }

  .section {
    margin-bottom: $base-font-size*2;
    clear: both;
    overflow: auto;

    &.line-divide {
      padding-bottom: $base-font-size*2;
      border-bottom: 1px $base-border-color solid;
    }
  }
}


.city-intro,
.learn-more,
.required-resources,
.sharing,
.become-host,
.host-intro {

  @include media($tablet) {
    @include span-columns(10 of 12);
    @include shift(1);
  }

  @include media($desktop) {
    @include span-columns(8 of 12);
    @include shift(2);
  }
}

input, button {
  &.full-width-button {
    width: auto;
    max-width: 100%;
    white-space: normal;
  }

  &.text {
    @extend a;

    background: none;
    border: none;
    color: $tws-orange;
    text-transform: none;
    font-weight: 400;
    text-decoration: underline;
    display: inline;
    letter-spacing: 0;
    padding: 0px;
    margin: 0px;
    width: auto;
    border-radius: 0;

    &:hover {
      background: none;
      color: darken($tws-orange, 5);
    }
  }
}

.set-city {
  text-align: center;

  h3 {
    margin-bottom: 1em;
  }

  button, input {
    margin-bottom: 1em;
  }

  h5 {
    clear: both; 
    overflow: auto;
  }

  p {
    margin-bottom: 0;
  }
}

.learn-line {
  img {
    width: $base-font-size*2;
    margin-right: $base-font-size;
  }
  span {
    position: relative;
    top: -$base-font-size*2/3;
  }
}

.required-resources {
  .city-resources {
    margin-bottom: $base-font-size;

    @include row(table);
    @include fill-parent();
  }

  .city-resource {
    .block {
      text-align: center;
      border: $base-border;
      background: $tws-white;
      padding: $base-font-size;
      margin-bottom: $base-font-size;
    }

    a.mobile {
      button {
        width: 90%;
        margin: 0 auto $base-font-size;
        display: block;
        padding: 1em 0.5em;
      }
    }

    span.number {
      @extend h1;
      color: $medium-gray;
    }

    p.description {
      font-size: $base-font-size*.8;
      line-height: 1.25;
      margin-bottom: $base-font-size*1.5;
      padding: 0 $base-font-size/2;

      img {
        height: 12px;
        margin-right: $base-font-size/2;
        position: relative;
      }
    }

    .progress-bar-block {
      p.description {
        text-transform: uppercase;
        margin: 0;
        margin-bottom: $base-font-size/3;
      }
    }

    @include media($tablet) {
      border: $base-border;
      background: $tws-white;
      padding: $base-font-size;
      border-left: 0;
      margin-bottom: 0;
      text-align: center;

      @include span-columns(4 of 12);

      &.left {
        border-left: 1px $base-border-color solid;
      }

      .block {
        border: none;
        background: transparent;
        padding: 0;
        margin-bottom: auto;
      }

      a.mobile {
        display: none;
      }
    }
  }

  .city-resources-buttons {

    @include row(table);
    @include fill-parent();

    display: none;

    .button-container {

      @include span-columns(4 of 12);

      button {
        width: 90%;
        margin: 0 auto $base-font-size;
        display: block;
        padding: 1em 0.5em;
      }
    }

    @include media($tablet) {
      display: table;
    }
  }
}

a.applied {
  button {

    background: transparent;
    color: $tws-orange;
    position: relative;
    cursor: default;
    text-indent: -9999px;


    &:after {
      content: "You're Interested!";
      display: block;
      text-indent: 0;

      @include centerer;
    }
  }

  &:hover {

    button {
      background: transparent;
      color: $tws-orange;
    }

  }
}

.progress-bar {
	height: $base-font-size/2;
	position: relative;
	background: $base-border-color;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
  overflow: hidden;

  .bar {
    display: block;
    height: 100%;
    background-color: $tws-yellow;
    position: relative;
    overflow: hidden;
  }

  &.green > span {
    background-color: $tws-green;
    background-image: linear-gradient(to bottom, $tws-green, $tws-green);
  }
}

.cities-list .city-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}