.cities-list {
  @include outer-container;
  .city {
    position: relative;

    @include media($tablet-only) {
      @include span-columns(6);
      @include omega(2n);
    }

    @include media($desktop) {
      @include span-columns(4);
      @include omega(3n);
    }

    .city-name {
      margin: 0;
      width: 100%;

      position: absolute;
      top: 40%;

      text-align: center;

      a {
        color: $tws-white;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.city-banner {
  @include cover-photo(url(''), url(''), linear-gradient(to bottom, rgba($tws-yellow, .87), rgba($tws-yellow, .87)));
}

.progress-bar { 
	height: 20px;  /* Can be anything */
	position: relative;
	background: $medium-gray;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);

  .bar {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: $tws-yellow;
    box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
  }

  &.green > span {
    background-color: $tws-green;
    background-image: linear-gradient(to bottom, $tws-green, $tws-green);
  }
}
