.controller-cities {
  em.city-name {
    font-size: 1.5em;
    font-style: normal;
    font-weight: bold;
  }
    ul.host-headshots {
      li {
        float: left;
        margin-left: 50px;
        margin-bottom: 0px;
        .host-name {
          text-align: center; 
          margin-bottom: 0px;
        }
      }
    }
}
