$shadow-grey: #bebebe;
.controller-cities {
  .city-landscape {
    height: 300px;
    margin-bottom: 20px;
    border-bottom: 1px solid $shadow-grey;
    background: url('http://placecorgi.com/2560') no-repeat center center;
    background-size: cover;
    box-shadow: 0 4px 4px -4px $shadow-grey;
    position: relative;

    .blur-layer {
      z-index: 5;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0px;
      left: 0px;
      background: none repeat scroll 0% 0% rgba(246, 210, 172, 0.25);
    }

    .landscape-text h1 {
      text-align: center;
      color: #FFF;
      text-shadow: 1px 1px 2px #404040;
      position: absolute;
      top: 50%;
      margin-top: -60px;
      left: 50%;
      margin-left: -130px;
      z-index: 10;
    }
  }
  
  em.city-name {
    font-size: 1.5em;
    font-style: normal;
    font-weight: bold;
  }
    ul.host-headshots {
      li {
        float: left;
        margin-left: 50px;
        .host-name { text-align: center; }
      }
    }
}
